# Byte-compiled / optimized / DLL files
__pycache__/
*.sln
*.pyproj

# Files
log/
data/
memcached/

# Distribution / packaging
.vs/

# Unit test / coverage reports
.coverage
.cache
coverage.xml

# Environments
.env
.venv