# Byte-compiled / optimized / DLL files
__pycache__/
*.sln
*.pyproj

# JSON files
*.json

# Distribution / packaging
.vs/

# Unit test / coverage reports
.coverage
.cache
coverage.xml

# Environments
.env
.venv